/* slide */

div.carousel-inner {
	height: 450px;
	overflow: hidden;
}

img.slide-item {
	max-width: 100%;
	margin: auto;
}

/* all */

.img-fluid {
	max-height: 350px;
}

/* allocate */

.toggle {
	display: none;
}

.disabled {
	background-color: #9a9da0 !important;
	cursor: not-allowed;
}

a.disabled:hover {
	text-decoration: none;
	background-color: #9a9da0 !important;
}

/*admin*/

.notify-parent {
	position: relative;
}

.notify {
	position: absolute;
	top: 0px;
}

.notify-std {
	position: absolute;
	top: 10px;
	left: -5px;
}

img.circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border-color: black;
	background-color: white;
	vertical-align: middle;
}

.sticky-top {
	margin-top: 100px;
	top: 50px;
}

div.msg-card {
	position: relative;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .125);
}

a.hint-link {
	color: #242a30;
	text-decoration: none;
	transition: 0.3s;
}

a.hint-link:hover {
	color: rgb(150, 141, 141);
}

p.msg-hint {
	margin: 0;
	font-size: 12px;
}

.caps {
	text-transform: capitalize;
}

p:not(.email) {
	text-transform: capitalize;
}

.custom-file-control {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
	height: 2.5rem;
	padding: .5rem 1rem;
	line-height: 1.5;
	color: #495057;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: .25rem;
}

svg.svg-inline--fa {
	font-size: 1.0rem;
}