/* slide */

div.carousel-inner {
	height: 450px;
	overflow: hidden;
}

img.slide-item {
	max-width: 100%;
	margin: auto;
}

/* all */

.img-fluid {
	max-height: 350px;
}

/* allocate */

.toggle {
	display: none;
}

.disabled {
	background-color: #9a9da0 !important;
	cursor: not-allowed;
}

a.disabled:hover {
	text-decoration: none;
	background-color: #9a9da0 !important;
}

/*admin*/

a.list-group-item {
	text-decoration: none;
	list-style-type: none;
	color: rgba(0, 0, 0, .7);
}

a.list-group-item:hover {
	background-color: #c7dcea;
	color: #000;
	transition: ease-in 0.3s;
}

.result-parent {
	position: relative;
	z-index: 30;
}

.result-child {
	position: absolute;
	margin-top: -20px;
}

.result-name {
	padding: 0 5px;
	border-right: 1px solid #000;
}

.result-xtra {
	padding-left: 5px;
}

.btn-search {
	color: #3F729B;
	background-color: transparent;
	background-image: none;
	border-color: #749bbb;
}

.btn-search:hover {
	color: #fff;
	background-color: #749bbb;
	border-color: #749bbb;
}

input[type='search'] {
	border: 1px solid #749bbb
}

.crhostel {
	padding: 0;
}

.std-thead th {
	background-color: #3F729B;
	border-color: #7c828e;
	color: #f5f8fa;
}

.bg-danger-lighten {
	background-color: #ffebee !important;
}

.notify-parent {
	position: relative;
}

.notify {
	position: absolute;
	top: 0px;
}

.notify-std {
	position: absolute;
	top: 10px;
	left: -5px;
}

img.circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border-color: black;
	background-color: white;
	vertical-align: middle;
}

div.msg-card {
	position: relative;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .125);
}

.overview-card {
	background-color: #e3f2fd;
	text-transform: capitalize;
}

.msg-show-body {
	background-color: #ffffff;
}

.new {
	color: #242a30;
}

.list-group-item svg {
	margin-right: 5px;
}

img.show-pic {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 100%;
	border: 3px solid #fff;
	background-color: white;
	vertical-align: middle;
}

.list-group-item {
	padding: .75rem .75rem;
}

div.show-pic-parent {
	margin: 0 auto;
}

.msg-show-tab {
	max-width: 50%;
	color: #fff;
}

.bg-show-1 {
	background-color: #93a7b9 !important;
	border-radius: 50px 50px 50px 0px;
}

.bg-show-2 {
	background-color: #3F729B !important;
	border-radius: 50px 50px 0px 50px;
}

p.msg-hint {
	margin: 0;
	font-size: 12px;
}

.caps {
	text-transform: capitalize;
}

.tab-pane p:not(.email) {
	text-transform: capitalize;
}

.custom-file-control {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 5;
	height: 2.5rem;
	padding: .5rem 1rem;
	line-height: 1.5;
	color: #495057;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: .25rem;
}

svg.svg-inline--fa {
	font-size: 1.0rem;
}