/* slide */

div.carousel-inner {
	height: 450px;
	overflow: hidden;
}

img.slide-item {
	max-width: 100%;
	margin: auto;
}

.bed-none {
	display: none;
}

.bed-display {
	display: inline-block;
}

.disabled {
	background-color: #9a9da0 !important;
	cursor: not-allowed;
}

a.disabled:hover {
	text-decoration: none;
	background-color: #9a9da0 !important;
}